// header {
// 	background-color: gray;
// }
// footer {
// 	background-color: teal;
// }
body {
	background-color: #f2f2f2;
	.space-launches-list {
		background-color: #f2f2f2 !important;
		padding: 150px 0;
	}
	.space-wrapper {
		max-width: 947px;
		width: 100%;
		margin: 0 auto;
		height: 600px;		
		overflow-y: scroll; 
	}
	.inner-space-wrap {
		background-color: white;
		padding: 47px;
		position: relative;
		.launch {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
    		align-items: center;
    		margin-bottom: 40px;
			.img-wrap {
				width: 94px;
				height: 94px;
				position: relative;
	    		margin: 0 30px 0 0;
				img {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
			.info-wrap {
				width: 70%;
				.title {
					font-weight: bold;
				}
			}
		}
	}
}

.loading-animation {
   display: none;
  position: absolute;
  z-index: 10;
  background: white;
  width: 100%;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 0;
  text-align: center;
}